export default {
  title: "FinNews - Professional Finance Coverage",
  description:
    "FinNews provides reliable coverage of cryptocurrencies, stocks, economy, and global markets.",
  openGraph: {
    type: "website",
    locale: "en_US",
    url: "https://finnews247.com/",
    siteName: "FinNews",
  },
  twitter: {
    handle: "@finnews",
    site: "@finnews",
    cardType: "summary_large_image",
  },
};
